server:
  port: 9000
spring:
  application:
    name: common_code
  datasource:
    url: jdbc:mysql://localhost:3307/code?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: qpalzm0915
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      globally_quoted_identifiers: true
      globally_quoted_identifiers_skip_column_definitions: true
      default_batch_fetch_size: 100

springdoc:
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    url: /docs/common-code-open-api-3.0.1.json
    path: /swagger
